@page
@model IT2163_05_224384C.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Change Password</h1>

            @if (ModelState.ContainsKey("MinPasswordAge") && ModelState["MinPasswordAge"].Errors.Any())
            {
                <div class="text-danger">@Html.DisplayFor(model => model.ModelState["MinPasswordAge"].Errors.First().ErrorMessage)</div>
            }

            <form method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="LModel.CurrentPassword">Current Password</label>
                    <input type="password" asp-for="LModel.CurrentPassword" class="form-control" />
                    <span asp-validation-for="LModel.CurrentPassword" class="text-danger"></span>

                    @if (ModelState.ContainsKey("IncorrectCurrentPassword") && ModelState["IncorrectCurrentPassword"].Errors.Any())
                    {
                        <div class="text-danger">@Html.DisplayFor(model => model.ModelState["IncorrectCurrentPassword"].Errors.First().ErrorMessage)</div>
                    }
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="LModel.Password">New Password</label>
                    <input type="password" asp-for="LModel.Password" class="form-control" />
                    <span asp-validation-for="LModel.Password" class="text-danger"></span>
                </div>

                @if (ModelState.ContainsKey("PasswordHistory") && ModelState["PasswordHistory"].Errors.Any())
                {
                    <div class="text-danger">@Html.DisplayFor(model => model.ModelState["PasswordHistory"].Errors.First().ErrorMessage)</div>
                }

                <div class="mb-3">
                    <label class="form-label" asp-for="LModel.ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="LModel.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="LModel.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Change</button>
                </div>
            </form>
        </div>
    </div>
</div>
