@page
@model IT2163_05_224384C.Pages.ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Forgot Password</h1>

            @if (ViewData["EmailSuccess"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @ViewData["EmailSuccess"]
                </div>
            }

            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["ErrorMessage"]
                </div>
            }

            <form method="post">
                <div class="mb-3">
                    <label asp-for="Email">Email Address</label>
                    <input type="text" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            
        </div>
    </div>
</div>
