@page
@model IT2163_05_224384C.Pages.LoginModel
@using AspNetCore.ReCaptcha
@Html.ReCaptcha()

@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login </h1>
            
            @if (ModelState.ContainsKey("ReCaptcha") && ModelState["ReCaptcha"].Errors.Count > 0)
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (var error in ModelState["ReCaptcha"].Errors)
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }

            @if (ModelState.ContainsKey("login") && ModelState["login"].Errors.Count > 0)
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (var error in ModelState["login"].Errors)
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }

            @if (TempData["EmailVerificationAlert"] != null)
            {
                <div class="alert alert-info" role="alert">
                    @TempData["EmailVerificationAlert"]
                </div>
            }

            <form method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="LModel.Email">Email Address</label>
                    <input type="Text" asp-for="LModel.Email" class="form-control" />
                    <span asp-validation-for="LModel.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="LModel.Password">Password</label>
                    <input type="password" asp-for="LModel.Password" class="form-control" />
                    <span asp-validation-for="LModel.Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <a asp-page="/ForgotPassword" class="forgot-password-link">Forgot Password?</a>
                </div>

                <div class="mb-3">
                    <ReCaptcha />
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
