@page
@model IT2163_05_224384C.Pages.ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Reset Password</h1>

            <p>Please enter your new password.</p>
            
            @if (ModelState.ContainsKey("MinPasswordAge") && ModelState["MinPasswordAge"].Errors.Any())
            {
                <div class="text-danger">@Html.DisplayFor(model => model.ModelState["MinPasswordAge"].Errors.First().ErrorMessage)</div>
            }

            <form method="post">
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="Token" />

                <div class="mb-3">
                    <label asp-for="Password">New Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                @if (ModelState.ContainsKey("PasswordHistory") && ModelState["PasswordHistory"].Errors.Any())
                {
                    <div class="text-danger">@Html.DisplayFor(model => model.ModelState["PasswordHistory"].Errors.First().ErrorMessage)</div>
                }

                <div class="mb-3">
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>